<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCf16dWFRUXEZ9gE5GooEDAWLx_xmuFpno</string>
	<key>GCM_SENDER_ID</key>
	<string>602438389992</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yunseop.InstagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagramclonefirebase-e6fe4</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclonefirebase-e6fe4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:602438389992:ios:7b66bd1f26f5465533395d</string>
</dict>
</plist>